/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #bcbe95;
  --ifm-color-primary-dark: #aeaf88;
  --ifm-color-primary-darker: #a5a780;
  --ifm-color-primary-darkest: #8a8c6a;
  --ifm-color-primary-light: #c7c9a5;
  --ifm-color-primary-lighter: #d0d1ad;
  --ifm-color-primary-lightest: #dddec5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(188, 190, 149, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #c7c9a5;
  --ifm-color-primary-dark: #bcbe95;
  --ifm-color-primary-darker: #b4b68d;
  --ifm-color-primary-darkest: #9a9c77;
  --ifm-color-primary-light: #d2d3b5;
  --ifm-color-primary-lighter: #dddec5;
  --ifm-color-primary-lightest: #e8e8d5;
  --docusaurus-highlighted-code-line-bg: rgba(199, 201, 165, 0.15);
}
